
.btn {
  font-family: $font-heading;
  color: $color-text;
  background-color: $color-grey-1;
  border-radius: $radius-sm;
  transition: $transition-slow;
  padding: $spacing-xs $spacing-xl;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-2;
    border-color: $color-primary;
    transition: $transition-slow;
  }
}

.btn-select-cinemas {
  font-size: $font-size-md;
  border: 1px solid $color-grey-4;
  letter-spacing: 1px;

  &:hover {
    border-color: $color-tertiary;
  }
}

.btn-search {
  font-size: $font-size-xl;
  border: 2px solid $color-secondary;
  padding: $spacing-sm 3rem;
}

.btn-contact-submit {
  font-size: $font-size-2xl;
  border: 2px solid $color-grey-4;
  width: fit-content;
  padding: $spacing-sm $spacing-xxl;
  margin: 0 auto;
}


.btn-films-display-by {
  font-size: $font-size-xl;
  border-color: $color-secondary;
  width: 8rem;
  border: 3px solid $color-secondary;
  border-radius: $radius-pill;
  text-align: center;
  padding: $spacing-xs $spacing-lg;

  span {
    position: relative;
    top: 0.12rem;
  }
}

.btn-films-display-by-current {
  font-size: $font-size-xl;
  background-color: $color-primary;
  color: $color-grey-1;
  border-color: $color-primary;
  cursor: default;
  transform: scale(1.15);
  transition: 300ms transform linear;

  &:hover {
    background-color: $color-primary;
    transition: 300ms transform linear;
  }
}
