.films-section {
  width: 100%;
  padding: 4rem;
  max-width: 90rem;
  min-height: 60rem;
  margin: 0 auto;
}

.films-container {
  display: flex;
  flex-direction: column;
}

.films-title {
  font-family: "BebasNeue", sans-serif;
  font-size: 4.5rem;
}

.films-display-by-container {
  font-family: "BebasNeue", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: $color-text-secondary;
  margin: 3rem auto 0 auto;
}

.films-display-by-btn-container {
  display: flex;
  gap: 2rem;
}

.films-display-by-btn {
  font-family: "BebasNeue", sans-serif;
  font-size: 1.75rem;
  background-color: $color-primary;
  color: $color-grey-1;
  width: 8rem;
  border: 3px solid $color-primary;
  border-radius: 100vmax;
  text-align: center;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    background-color: $color-primary-highlight;
    border-color: $color-primary-highlight;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
  }
}

.films-display-by-btn-current {
  font-size: 1.8rem;
  background-color: $color-primary-highlight;
  border-color: $color-grey-4;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);

  &:hover {
    border-color: $color-grey-4;
  }
}
