.films-section {
  position: relative;
  width: 100%;
  padding: 4rem;
  max-width: 80rem;
  min-height: 60rem;
  margin: 0 auto;

  &::after {
    position: absolute;
    content: "";
    background-image: url("/hexagon-bg.jpg");
    background-size: cover;
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.films-container {
  display: flex;
  flex-direction: column;
}

.films-title {
  font-family: "BebasNeue", sans-serif;
  font-size: 4.5rem;
}

.films-display-by-container {
  font-family: "BebasNeue", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: $color-text-secondary;
  margin: 3rem auto 0 auto;
}

.films-display-by-btn-container {
  display: flex;
  gap: 2rem;
}

.films-display-by-btn {
  font-family: "BebasNeue", sans-serif;
  font-size: 1.75rem;
  background-color: $color-grey-1;
  color: $color-text;
  border-color: $color-primary;

  width: 8rem;
  border: 3px solid $color-primary;
  border-radius: 100vmax;
  text-align: center;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    background-color: $color-grey-2;
    border-color: $color-primary-highlight;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
  }

  span {
    position: relative;
    top: 0.12rem;
  }
}

.films-display-by-btn-current {
  font-size: 1.8rem;
  background-color: $color-primary-highlight;
  color: $color-grey-1;
  border-color: $color-primary-highlight;
  cursor: default;

  transform: scale(1.2);
  -webkit-transform: scale(1.2);

  &:hover {
    background-color: $color-primary-highlight;
  }
}

.no-showings-found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  white-space: pre-wrap;
  margin: 9rem 0 3rem 0;
}
