.films-section {
  position: relative;
  width: 100%;
  padding: 4rem;
  max-width: 80rem;
  min-height: 60rem;
  margin: 0 auto;

  &::after {
    position: absolute;
    content: "";
    background-image: url("/hexagon-bg.jpg");
    background-size: cover;
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.films-container {
  display: flex;
  flex-direction: column;
}

.films-title {
  font-family: "BebasNeue", sans-serif;
  font-size: 4.5rem;
}

.films-display-by-container {
  font-family: "BebasNeue", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: $color-text-secondary;
  margin: 3rem auto 0 auto;
}

.btn-films-display-by-container {
  display: flex;
  gap: 2rem;
}

.no-showings-found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  white-space: pre-wrap;
  margin: 9rem 0 3rem 0;
}

.tmdb-logo {
  width: 3.75rem;
  margin-left: 1rem;
}
