.footer-container {
  font-family: $font-heading;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0 $spacing-lg;
}

.footer-link {
  font-size: $font-size-md;
  color: $color-primary;
  text-decoration: none;
  transition: 300ms ease color;
  
  &:hover {
    color: $color-tertiary;
  }
}

.footer-copyright {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  color: $color-primary;
  font-size: $font-size-md;
}
