.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: url("/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -4rem;
  padding: 0 4rem;
  margin-bottom: -4rem;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, 
      rgba(0, 0, 0, 0.9) 0%, 
      rgba(0, 0, 0, 0.9) 25%,
      rgba(0, 0, 0, 0.8) 35%, 
      rgba(0, 0, 0, 0.7) 60%,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(0, 0, 0, 0.3) 100%
    );
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.hero-text-container {
  font-family: "BebasNeue", sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  .line-separator {
    margin: 1rem 0 1.5rem 0;
    opacity: 0;
    animation: stretch 400ms ease 900ms forwards;
    -webkit-animation: stretch 400ms ease 900ms forwards;
  }
}

.hero-title {
  position: relative;
  font-size: 3.25rem;
  white-space: pre-wrap;
  max-width: 37rem;
  opacity: 0;
  animation: slide-up-far 600ms ease forwards;
  -webkit-animation: slide-up-far 600ms ease forwards;
}

.hero-title-logo {
  color: $color-primary-highlight;
}

.hero-subtitle {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  max-width: 41rem;
  opacity: 0;
  animation: slide-up-far 500ms ease 400ms forwards;
	-webkit-animation: slide-up-far 500ms ease 400ms forwards;
}
