@media screen and (max-width: 850px) {
  // hero section
  .hero-container {
    &::after {
      // change to top to bottom gradient
      background: linear-gradient(180deg,
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 50%,
        rgba(0, 0, 0, 0.8) 80%,
        rgba(0, 0, 0, 0.4) 100%,
      );
    }
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-subtitle {
    max-width: 34rem;
  }

  // films section
  .films-title {
    text-align: center;
  }

  .showing-by-cinema-container {
    flex-wrap: wrap;
    gap: 0 2rem;

    &:hover {
      .showing-by-cinema-poster-container {
        transform: scale(1);
        -webkit-transform: scale(1);
      }
    }
  }

  .showing-by-cinema-poster-container {
    width: 30%;
  }

  .showing-by-cinema-text-container {
    flex: 1;
  }

  .showing-show-times-container {
    display: none;
    margin: 0;
  }

  .showing-show-times-container-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.6rem 5rem;
    margin-top: 0.5rem;
  }

  .showing-by-cinema-cast-container {
    margin: 0.5rem 0;
  }

  // contact
  .contact-inputs-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 770px) {
  .films-section {
    padding: 1.5rem;
  }

  .films-title {
    text-align: center;
  }

  .showing-by-cinema-poster-container {
    min-width: 8rem;
  }
}

@media screen and (max-width: 662px) {
  // hero section
  .hero-title {
    font-size: 2.8rem;
    max-width: 28rem;
  }

  .hero-subtitle {
    font-size: 1.4rem;
    max-width: 24rem;
  }

  // films section
  .films-title {
    font-size: 3.5rem;
  }
}

// mobile layout
@media screen and (max-width: 600px) {
  // hero section
  .hero-container {
    background-position: 30%;
  }

  // films section
  .showing-by-cinema-container {
    gap: 0 1rem;
    justify-content: space-evenly;
    padding: 0.7rem;
  }

  .showing-by-cinema-title-mobile {
    display: block;
  }

  .showing-by-cinema-poster-container {
    width: 15rem;
    max-width: 15rem;
  }

  .showing-by-cinema-text-container {
    display: none;
  }

  .showing-by-cinema-text-container-mobile {
    display: flex;
  }

  .showing-by-cinema-optional-text-container {
    display: block;
  }

  .showing-by-cinema-details-container {
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
  }  

  .showing-by-cinema-release-mobile {
    font-size: 0.9rem;
    color: $color-tertiary;
  }

  .showing-show-time {
    font-size: 1.2rem;
    padding: 0.1rem 0.7rem;
  }

  .showing-show-times-cinema {
    text-align: center;
  }

  .no-showings-found {
    font-size: 1.2rem;
    white-space: unset;
    padding: 0 1rem;
    margin: 7rem 0 4rem 0;
  }
 
  // contact
  .contact-page-container {
    padding: 4rem 2rem;
  }

  .contact-form {
    margin: 2rem auto 0 auto;
  }

  .contact-subtitle,
  .contact-input {
    font-size: 1rem;
  }

  .contact-textarea {
    min-height: 12rem;
  }

  .btn-contact-submit {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 520px) {
  .showing-show-time-date {
    font-size: 1.1rem;
    min-width: 6.2rem;
  }
}


@media screen and (max-width: 480px) {
  // hero section
  .hero-container {
    padding: 0 2rem;

    .line-separator {
      margin: 1.5rem 0 2rem 0;
    }
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  // films section
  .films-section {
    padding: 0.75rem 0.75rem 2rem 0.75rem;
  }

  .films-title {
    font-size: 3.25rem;
  }

  .films-display-by-container {
    font-size: 1.75rem;
  }

  .films-display-by-btn {
    font-size: 1.5rem;
    width: 7rem;
  }
  
  .films-display-by-btn-current {
    font-size: 1.6rem;
  }

  .showing-by-cinema-poster-container {
    width: 60%;
  }

  .showing-by-cinema-details-container {
    font-size: 0.9rem;
  } 
}
