:root {
  background-color: $color-mid;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "BebasNeue", sans-serif;
  color: rgb(237, 237, 237);
}