// showings by cinema
.showings-by-cinema-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.showings-by-cinema-title {
  font-family: "BebasNeue", sans-serif;
  font-size: 2.5rem;
}

.showings-by-cinema-subtitle {
  font-size: 0.9rem;
  color: $color-primary-highlight;
}

.showing-by-cinema-container {
  position: relative;
  display: flex;
  gap: 2rem;
  border-radius: 0.6rem;
  background-color: $color-grey-1;
  box-shadow:    
  0px 1px 1px rgba($color-primary, 0.5),
  0px 0 2px rgba($color-primary, 0.5);
  top: 0;
  padding: 1rem 1.5rem;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;

  &::after {
    position: absolute;
    content: "";
    background-image: url("/showing-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    top: 0;
    left: 0;
    z-index: -1;
  }

  // have different background positions for every 1st, 2nd and 3rd showing
  &:nth-child(3n) {
    &::after {
      background-position: center;
    }
  }

  &:nth-child(3n+1) {
    &::after {
      background-position: center 10%;
    }
  }

  &:nth-child(3n+2) {    
    &::after {
      transform: rotate(180deg);
    }
  }

  &:hover {
    box-shadow:    
    0px 2px 4px rgba($color-primary-highlight, 0.5),
    0px 0 8px rgba($color-primary-highlight, 0.5);
    transform: translateY(-0.3rem);
    -webkit-transform: translateY(-0.3rem);
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;

    .showing-by-cinema-poster-container {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transition: 300ms all ease;
      -webkit-transition: 300ms all ease;
    }

    .showing-by-cinema-trailer-link {
      left: 0;
    }
  }
}

.showing-by-cinema-poster-container {
  position: relative;
  display: flex;
  max-width: 12rem;
  min-width: 12rem;
  height: fit-content;
  z-index: 15;
  overflow: hidden;
  margin: auto 0;
  cursor: pointer;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;

  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
  }

  &:hover {
    &::after {
      background-color: rgba($color-grey-1, 0.65);
    }

    .showing-by-cinema-trailer-link {
      background-color: $color-primary-highlight;
      transition: 250ms all ease;
      -webkit-transition: 250ms all ease;
    }

    .showing-by-cinema-trailer-play-btn {
      top: 50%;
      transition: top 300ms cubic-bezier(0.42, 0, 0.58, 1), color 250ms ease;
      -webkit-transition: top 300ms cubic-bezier(0.42, 0, 0.58, 1), color 250ms ease;
    }
  }
}

.showing-by-cinema-poster {
  display: inline-block;
  width: 100%;
  min-height: 10rem;
  object-fit: contain;
}

.showing-by-cinema-trailer-play-btn {
  position: absolute;
  color: $color-primary-highlight;
  font-size: 3rem;
  border-radius: 50%;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: top 300ms cubic-bezier(0.42, 0, 0.58, 1), color 250ms ease;
  -webkit-transition: top 300ms cubic-bezier(0.42, 0, 0.58, 1), color 250ms ease;
  z-index: 5;
}

.showing-by-cinema-trailer-link {
  font-family: "BebasNeue", sans-serif;
  position: absolute;
  font-size: 1.2rem;
  background-color: $color-secondary;
  color: $color-grey-1;
  text-decoration: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0.25rem 1rem;
  bottom: 1.5rem;
  left: -100%;
  transition: 250ms all ease;
  -webkit-transition: 250ms all ease;
  z-index: 2;
}

.showing-by-cinema-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  i {
    color: $color-secondary;
    width: 1rem;
  }
}

.showing-by-cinema-text-container-mobile {
  display: none;

  i {
    color: $color-secondary;
    width: 1rem;
  }
}

.showing-by-cinema-optional-text-container {
  display: none;
}

.showing-by-cinema-title {
  font-family: "BebasNeue", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.showing-by-cinema-title-mobile {
  display: none;
  width: 100%;
  text-align: center;
  padding: 0 0.25rem;
  margin-bottom: 0.5rem;
}

.showing-by-cinema-genres {
  font-size: 0.8rem;
  color: $color-text-secondary;
  font-weight: 500;
  margin: -0.5rem 0 0.5rem 0;
}

.showing-by-cinema-description {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

.showing-by-cinema-cast-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;

  i {
    position: relative;
    font-size: 0.85rem;
    color: $color-secondary;
    top: 0.2rem;

    &::before {
      font-weight: 900;
    }
  }
}

.showing-by-cinema-cast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: max-content;
  gap: 0 0.25rem;
  font-size: 0.85rem;
  color: $color-text-secondary;
}

.showing-by-cinema-details-container {
  display: flex;
  gap: 1.5rem;
}

.showing-by-cinema-release {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.showing-by-cinema-rating-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:link,
  &:visited {
    color: $color-text;
    text-decoration: none;
  }

  &:hover {
    .imdb-logo {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transition: 150ms all ease;
      -webkit-transition: 150ms all ease;
    }

    .imdb-rating {
      font-weight: 600;
    }
  }
}

.imdb-logo {
  width: 2.25rem;
  transition: 150ms all ease;
  -webkit-transition: 150ms all ease;
}

.imdb-rating {
  font-weight: 500;
}

.showing-by-cinema-runtime-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.showing-show-times-container {
  font-family: "BebasNeue", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem 8rem;
  color: $color-text;
  margin-top: 1rem;
}

.showing-show-times-container-mobile {
  display: none;
  width: 100%;
}

.showing-show-times-column {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.showing-show-times-row {
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.showing-show-time-date {
  position: relative;
  font-size: 1.25rem;
  min-width: 7.2rem;
  height: fit-content;
  top: 0.15rem;
}

.showing-show-times {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6rem;
}

.showing-show-time {
  font-size: 1.3rem;
  background-color: $color-primary;
  color: $color-grey-1;
  border-radius: 100vmax;
  width: fit-content;
  text-align: center;
  padding: 0.2rem 0.9rem;
}
