.line-separator {
	width: 8rem;
	height: 0.3rem;
	background-color: $color-primary-highlight;
}

.animate {
	animation: slide-up 400ms ease forwards;
	-webkit-animation: slide-up 400ms ease forwards;
}
