@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

$color-primary: #D8373E;

$color-dark: #080808;
$color-mid: #1C1C1F;
$color-light: #3A3A3D;
$color-lightest: #505050;
