@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

$color-primary: #ff5569;
$color-primary-highlight: #dd0808;

$color-secondary: #b493f6;
// $color-secondary-highlight: #8c4ade;

$color-tertiary: #67dcfc;
// $color-tertiary: #e2be2f;

$color-text: #e9e6e6;
$color-text-secondary: #c2e1ee;

$color-grey-1: #262629;
$color-grey-2: #191514;
$color-grey-3: #252525;
$color-grey-4: #505050;
