@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

// $color-primary: #D8373E;
// $color-primary: #d03345;
// $color-primary-highlight: #ff98a4;
// $color-primary: #8c4ade;
$color-primary: #ba98ff;
$color-primary-highlight: #ff5569;

// $color-secondary: #e2be2f;
$color-secondary: #67dcfc;

$color-text: #e7e2e2;
$color-text-secondary: #b3ccd8;

$color-grey-1: #262629;
$color-grey-2: #191514;
$color-grey-3: #252525;
$color-grey-4: #505050;
